##############################
## Folders                  ##
##############################
target
.idea
 
##############################
## Netbeans conf            ##
##############################
wechat.iml